html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#camera {
    display: flex;
    flex-direction: column;
    min-width: 26rem;
}
/* 
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 50%;
    width: 50%;
    object-fit: cover;
} */

#camera--view {
    border: thin solid red;
    min-height: 10rem;
}

#camera--output {
    border: thin solid blue;
    min-height: 10rem;
}

#camera--sensor {
    max-height: 1rem;
}
/* 
#details {
    white-space: pre-line;
    min-height: 20rem;
} */
/* #camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
} */

#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}

/* .taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
} */